# This is a template file for environment variables. To use this file, copy it
# in it's current directory, remove "template" from the file name (the file file
# should be named ".env") and replace REACT_APP_BOLT_SERVERADDRESS and 
# REACT_APP_NEO4J_PASSWORD with your server address and password (might be the same)
# the .env file will need to be remade on every new machine and will not carry over
# as the server address can change between instances of neo4j virtual databases

# REACT_APP_BOLT_SERVERADDRESS= the address that links to the neo4j database server
# REACT_APP_NEO4J_USERNAME= username for login to the neo4j Database
# REACT_APP_NEO4J_PASSWORD= password for login to the neo4j Database
REACT_APP_BOLT_SERVERADDRESS=bolt://192.168.111.128:7687
REACT_APP_NEO4J_USERNAME=neo4j
REACT_APP_NEO4J_PASSWORD=NWN7DoJDXDcJ
