.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Modal{
  padding: 5%;
  margin: auto;
  transform: 'translate(-50%, -50%)';
}

/* ol{
  font-size: xx-large;
  text-align: start;
  margin:auto 40%;
} */

table{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
table td + td, table th + th { border-left:1px solid black; }
/* table *{
  border-bottom: 1px solid black;
} */
tr{
  border-bottom: 1px solid black;
}
td, th{
  padding: 0 5px;
}

form{
  margin-bottom: 1em;
}

.delButton{
  background-color: red;
}